body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.card.border-warning {
  border: 2px solid yellow;
}

.card.border-danger {
  border: 2px solid red;
}

.modal-header {
  background-color: white;
}

.modal-title {
  margin: 0 auto;
}

.btn-close {
  background: whitesmoke;
  border: none;
}

#formModal .modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

#taskForm .form-label {
  font-weight: 600;
}

#taskForm .form-control {
  border-radius: 0.25rem;
}

#taskForm .btn-primary {
  background-color: green;
  border-color: black;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

#taskForm .btn-primary:hover {
  background-color: green;
  border-color: black;
}
