/* Border color for task cards nearing the deadline or overdue */
.card.border-warning {
  border: 2px solid yellow;
  background-color: yellow;
}

.card.border-danger {
  border: 2px solid red;
  background-color: red;
}

/* General body styling */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* Swim-lanes styling */
.swim-lanes {
  min-height: 60vh;
}

/* Task card styling */
.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

/* Modal styling */
.modal-header {
  background-color: white;
}

.modal-title {
  margin: 0 auto;
}

.btn-close {
  background: whitesmoke;
  border: none;
}

.todo-card {
  z-index: 10;
}

#formModal .modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

/* Task form styling */
#taskForm .form-label {
  font-weight: 600;
}

#taskForm .form-control {
  border-radius: 0.25rem;
}

#taskForm .btn-primary {
  background-color: green;
  border-color: black;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

#taskForm .btn-primary:hover {
  background-color: darkgreen;
  border-color: black;
}
